/* .fridge img {
  width: 1500px;
  height: 1100px;
  right: 10%;
  top: -20px;
} */

.fridge {
  display: flex;
  position: absolute;
  bottom: 0;
}

.fridge img {
  height: 950px;
  width: 1300px;
}

.toDoPaper {
  font-family: "Nanum Pen Script", cursive;
  background-color: #f9fb9a;
  position: absolute;
  width: 350px;
  height: 500px;
  bottom: 155px;
  left: 155px;
  border-radius: 10px;
  padding: 10px;
}
