@import "reset.css";
@import "fridge.css";

html {
  min-height: 100%;
}

body {
  height: 100vh;
  background-image: url("/img/wallpaper.jpg");
}

.js-clock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: ;
}
