@import "reset.css";
@import "fridge.css";
@import "smartScreen.css";
@import "clock.css";
@import "variables.css";

@font-face {
  font-family: "DS-DIGI";
  src: url("../DS-DIGI.TTF");
}

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
  background-image: url("/img/wallpaper.jpg");
  position: relative;
  z-index: -1;
}
